/* FONTS */
@font-face {
  font-family: kiona-regular;
  src: url("./assets/Kiona-Regular.ttf");
}

@font-face {
  font-family: bank-gothic;
  src: url("./assets/BankGothic-Regular.ttf");
}

@font-face {
  font-family: stardate;
  src: url("./assets/Stardate81316-aolE.ttf");
}

/* VARIABLES */
:root {
  --deepPurple: #1c1026;
  --moonDust: #c6bbb9;
  --purple: #4c1e3c;
  --deepGreen: #21242b;
  --dustyBlue: #7a748c;
}
/* GENERAL SETUP */

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--deepPurple);
  text-align: center;
  height: 100vh; /* vertical height */
  width: 100vw; /* vertical width */
}

/* BODY */

header {
  text-align: center;
  vertical-align: middle;
}

header img {
  margin-left: 0;
  margin-right: 0;
  height: 100px;
}

.main {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-family: kiona-regular;
  font-size: 12px;
}

.card {
  background-color: var(--dustyBlue);
  border: none;
  /* border-radius: 10px 100px / 120px; */
}

.card-text {
  color: var(--deepGreen);
  font-size: 14px;
}

/* BUTTONS */

.modal-footer .btn {
  font-family: "bank-gothic";
  margin-right: 30px;
}

.btn-dark {
  background-color: var(--purple);
  color: var(--moonDust);
}

/* MODAL */
.modal-header,
.modal-footer {
  border: none;
}

.modal-content {
  border-radius: 40px;
}

strong {
  font-family: "bank-gothic";
  font-size: 14px;
  text-transform: uppercase;
}

footer {
  color: var(--moonDust);
  font-family: "bank-gothic";
  margin-top: -15px;
}
